* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #e0f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  text-align: center;
  direction: rtl;
  color: #00796b;
}
h2 {
  color: #004d40;
  margin-bottom: 20px;
}
label, input, select, button {
  margin: 10px 0;
  width: 100%;
  font-size: 16px;
}
input, select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
button {
  background-color: #00796b;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #004d40;
}
.delete-button {
  background-color: #d32f2f;
  margin-top: 10px;
}
.delete-button:hover {
  background-color: #b71c1c;
}
.info {
  margin-top: 20px;
  text-align: left;
}
.seriesFields {
  display: none;
}
.info-entry {
  background-color: #e0f2f1;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  color: #004d40;
}
.info-entry p {
  margin: 5px 0;
}
